body{
    background-color: #DFDFE0;
}
.col-sm-12 {

    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

ul{
    padding-left: 3.5em;
}

table{
    width: 100%;
}

/* Navbar */
.logo img {
    width: 100%;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li.active > a {
    color: #053160;
    font-weight: bold;
}

/* Contenu global */
.content h2 {
    background-color: #00A4D6;
    color: white;
    padding: 5px 5px 5px 20px;
}

/* FOOTER */
.menu--footer  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #053160;
}

.menu--footer > li {
    margin: auto;
}

.menu--footer > li > a, .menu--footer > li > a:hover {
    background-color: #053160;
    color: white;
    font-weight: bold;
}

/* HEADER */
.col-sm-12[role="heading"]{
    background-color: #00315F;
    color: white;
}

.region-header .logo{
    width: 33%;
}

.page-header{
    border-bottom: none;
}

.page-header span{
    float: right;
    margin-top: 8%;
    margin-right: 10px;
    font-size: 0.9em;
}

.navbar-brand{
    color: white;
    margin-top: 7%;
    font-size: 2em;
}

.souspage{
    background-color: white;
}

.souspage p{
    padding-right: 20px;
    padding-left: 20px;
}